.App {
  text-align: center;
}

.App-logo {
  max-height: 40px;
  display: block;
  margin: auto;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.card {
  min-width: 250px;
  max-width: 270px;
}

.card-media{
  height: 100px;
  display: block;
  margin: auto;
}

.chips{
  margin:5px;
}

.text{
  font-family: 'Montserrat';
}

.text-center{
  font-family: 'Montserrat';
  text-align: center;
}
